.header {
    margin: 80px 0 176px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__hero-img {
        border-radius: 50%;
        width: 178px;
        height: 178px;
        border: 24px solid #f6f9fd;
        object-fit: cover;
        object-position: 0 0;
        margin-top: 50px;
    }
    &__brace-container {
        display: flex;
        width: 80%;
        &::before {
            content: url('../assets/img/svg/brace.svg');
            @media (max-width: $breakpoint-layout) {
                display: none;
            }
        }
        &::after {
            content: url('../assets/img/svg/brace_right.svg');
            @media (max-width: $breakpoint-layout) {
                display: none;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
    }
    &__title {
        display: block;
    }
    &__hello-cloud {
        @media (max-width: $breakpoint-layout) {
            display: none;
        }
        position: relative;
        top: 130px;
        left: 210px;
        &--text {
            width: 198px;
            height: 40px;
            background: $blue;
            color: $white;
            font-size: 32px;
            line-height: 40px;
            margin: 0;
            padding: 16px;
            border-radius: 16px;
            text-align: center;
        }
        &--image {
            margin-left: 30px;
        }
    }
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}
