.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_title {
        font-size: 48px;
        text-align: center;
    }
    &_describe {
        max-width: 782px;
        font-size: 20px;
        text-align: center;
    }
    &_container {
        width: 95%;
        @media (min-width: $breakpoint-layout) {
            max-width: 1184px;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 24px;
        }
    }
}
.project {
    background: $grey2;
    color: $grey4;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 30px;
    &__header {
        background: $grey1;
        border-radius: 16px 16px 0 0;
        &_dots {
            padding: 16px 0 16px 16px;
        }
    }
    &__img {
        margin: 18px auto auto 48px;
    }
    &__content-container {
        margin-left: 48px;
    }
    &__row {
        display: flex;
    }
    &__tag {
        color: $grey4;
        text-align: right;
        min-width: 80px;
        padding-right: 5px;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
    &__name {
        color: $white;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
    &__main {
        margin-bottom: 24px;
    }
    &__links {
        padding-bottom: 58px;
    }
    &__link {
        color: $consoleTextLink;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
    &__demo-link {
        margin: 0;
    }
}

.dot::before {
    content: '\25CF';
    color: $grey3;
}
