.skill {
    background: $blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;

    &__title {
        font-size: 48px;
    }
    &-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 379px;

        &__title {
            position: absolute;
            top: 0;
            font-size: 64px;
            margin-bottom: 0;
            transition: 0.5s;
            margin: 0;
            cursor: default;
            &:hover {
                font-size: 128px;
            }
        }
        &__subtitle {
            margin-top: 124px;
            font-size: 24px;
        }
        &__list {
            list-style: none;
            height: 344px;
            &--working-knowwledge {
                list-style-image: url('../assets/img/svg/small-tick_Green.svg');
            }
            &--know-something {
                list-style-image: url('../assets/img/svg/small-tick.svg');
            }
            &--want-to-learn {
                list-style: disc;
            }
        }
        &__list > li {
            line-height: 30px;
            font-size: 16px;
            font-weight: 400;
            &:hover {
                color: $green;
                font-weight: 700;
            }
        }
    }
}

.skill-sections__container {
    @media (min-width: $breakpoint-layout) {
        max-width: 1184;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 24px;
    }
}
