$white: #fff;
$blueLightest: #f6f9fd;
$blueLight: #dbeaf7;
$blue: #1070ca;
$green: #06c847;
$black: #000;
$consoleTextLink: #14b5d0;
$grey5: #a3a3a3;
$grey4: #808082;
$grey3: #464a4d;
$grey2: #212528;
$grey1: #1e1e1e;
$textLink: #4da8ff;
$textMuted: #66788a;
$textDefault: #425a70;
$textDark: #234361;
$breakpoint-layout: 700px;
