@import '~normalize.css';

@import '_variables';
@import 'modules/header.scss';

body {
    background: $white;
    color: $textDefault;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
