@import '~normalize.css';

@import '_variables';
@import 'modules/header.scss';
@import 'modules/skill.scss';
@import 'modules/projects.scss';
@import 'modules/footer.scss';

body {
    background: $white;
    color: $textDefault;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-button {
    display: inline-block;
    color: $white;
    background: $textLink;
    border-radius: 64px;
    height: 48px;
    padding: 4px 24px;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.main {
    width: 100%;
}
